---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const electroEntries = await getCollection("electro");
  return electroEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
console.log(entry.data.link)
---
<Layout>
<div class="containerfilm">
  <iframe width="80%" height="80%" src={entry.data.link} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <a class=" btn-link  btn-retour" href="/#electro">Retour</a>
</div>


</Layout>
<style>
  .containerfilm {
    position : relative;
    width : 100%;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items : center;
   background : #000;
  }
</style>