---
---

<!-- Header -->
<header>
  <video autoplay muted loop src="videos/Showreel Page d'accueil.mp4"></video>

  <div class="links">
    <a href="#electro">Electro</a>
    <a href="#real">Real</a>
    <!-- <a href="#music">Auteur/Interprete</a> -->
  </div>
</header>

<style lang="scss">
  /* HEADER */

  header {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border: 2vw solid #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    width: 100%;
    height: 100%;
    gap: 8rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "SaoTorpes";
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 70px;
    font-size: 1.1rem;
    // z-index: 200;

    @media (max-width: 900px) {
      gap: 4rem;
      font-size: 14px;
    }
    @media (max-width: 600px) {
      gap: 2rem;
      font-size: 14px;
      flex-direction: column;
    }
  }

  .links a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 6px;
  }
</style>

<script>
  /* Contact */
  const toggle = document.querySelector(".nav-menu-toggle");
  const menu = document.querySelector(".menu");
  const titleHeader = document.querySelector(".title-header");

  let mm = gsap.matchMedia();
  const tl = gsap.timeline();

  mm.add("(min-width: 600px)", () => {
    tl.to(menu, { y: 0 })
      .to(titleHeader, { y: "50vh" })
      .to(titleHeader, { scale: 3, delay: 0.5 })
      .to(".adresse-mail", { opacity: 1 })
      .to(".wrapper_gravityBtn", { opacity: 1 });
    tl.reversed(true);
    tl.to;
  });

  mm.add("(max-width: 599px)", () => {
    tl.to(menu, { y: 0 })
      .to(titleHeader, { y: "50vh" })
      .to(titleHeader, { scale: 2, delay: 0.5 })
      .to(".adresse-mail", { opacity: 1 })
      .to(".wrapper_gravityBtn", { opacity: 1 });
    tl.reversed(true);
    tl.to;
  });
  toggle.addEventListener("click", () => {
    tl.reversed(!tl.reversed());
  });
</script>
