---
---

<!-- NAVBAR -->
<div class="navbar">
  <div class="navTitle"><a href="/">MAXIME SOMON</a></div>
  <div class="menu_toggle">Contact</div>
  <div class="menu_contact">
    <div class="adresse-mail">
      <a href="mailto:somonmaxime10@gmail.com">Contactez-moi !</a>
    </div>
    <h3 class="tel">TEL : 06-64-57-56-82</h3>
    <div class="wrapper_gravityBtn">
      <div class="gravityButton">
        <button style="--color: hotpink">
          <a
            href="https://www.instagram.com/maxime_somon_/?igshid=OGQ5ZDc2ODk2ZA%3D%3D"
            target="_blank"
          >
            <img class=".buttonIcon" src="images/instagram.svg" alt="" />
          </a>
        </button>
      </div>
      <div class="gravityButton">
        <button style="--color: hotpink">
          <a href="https://www.youtube.com/@bmdbounce7950" target="_blank">
            <img class=".buttonIcon" src="images/youtube.svg" alt="" />
          </a>
        </button>
      </div>
      <div class="gravityButton">
        <button style="--color: hotpink">
          <a href="images/Maxime-Somon_CV.pdf" target="_blank">
            <img class=".buttonIcon" src="images/cv.svg" alt="" />
          </a>
        </button>
      </div>
      <div class="gravityButton">
        <button style="--color: hotpink">
          <a href="mailto:somonmaxime10@gmail.com">
            <img class=".buttonIcon imgMail" src="images/Email.svg" alt="" />
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .navbar {
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    @media (max-width: 500px) {
      align-items: flex-start;
    }
    .navTitle {
      font-family: "SaoTorpes";
      font-size: 20px;
      z-index: 1000;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }

    .menu_toggle {
      position: absolute;
      top: 2rem;
      right: 3rem;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1000;
      font-family: "Gabo";
    }

    .menu_contact {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      top: 0;
      left: 0;

      .adresse-mail {
        position: relative;
        top: 57%;
        opacity: 0;

        /* margin-bottom : 200px; */
        font-size: 2rem;
        font-weight: 300;

        a {
          text-decoration: none;
        }
      }

      .tel {
        position: absolute;
        top: 65%;
        opacity: 0;
        font-size: 1.4rem;
        font-weight: 300;
      }

      .wrapper_gravityBtn {
        position: absolute;
        bottom: 15%;
        display: flex;
        justify-content: center;
        display: flex;
        z-index: 500;

        opacity: 0;

        @media (max-width: 500px) {
          width: 80%;
        }
      }
      .gravityButton {
        display: grid;
        place-items: center;
        width: 150px;
        aspect-ratio: 1;
        border-radius: 50%;
        // border: 1px dashed #fff2;

        & > button {
          font: inherit;
          width: 64px;
          aspect-ratio: 1;
          background: none;
          border-radius: 50%;
          border: 2px solid #fff;
          transform: translate(var(--tx, 0), var(--ty, 0));
          opacity: var(--opacity, 0.25);
          cursor: pointer;
          transition: all 0.2s ease-out;

          &:hover,
          &:focus-visible {
            --_fill: var(--color, #fff);
          }

          &:focus-visible {
            outline: 2px solid #fff;
            outline-offset: 2px;
            opacity: 1;
          }
        }

        .buttonIcon {
          width: 50%;
          fill: var(--_fill, #fff);
          transition: fill 0.3s;
        }

        img {
          width: 70%;
        }
      }
    }
    .imgMail {
      width: 60px !important;
      img {
      }
    }
  }
</style>

<script>
  const toggleBtn = document.querySelector(".menu_toggle");
  const navbar = document.querySelector(".navbar");

  const tl = gsap.timeline();
  let mm = gsap.matchMedia();

  mm.add("(min-width: 600px)", () => {
    tl.to(navbar, { height: "100vh" })
      .to(toggleBtn, { top: "2rem" })

      .to(".navTitle", { scale: 2, duration: 0.8 })
      .to(".adresse-mail", { opacity: 1 })
      .to(".tel", { opacity: 1 })
      .to(".wrapper_gravityBtn", { opacity: 1 });
    tl.reversed(true);
  });

  mm.add("(max-width: 599px)", () => {
    tl.to(navbar, { height: "100vh" })
      .to(toggleBtn, { top: "2rem" })
      .to(".navbar", { alignItems: "center", duration: 0.8 }, "-=1")
      .to(".navTitle", { scale: 2, duration: 0.8 })
      .to(".adresse-mail", { opacity: 1 })
      .to(".tel", { opacity: 1 })
      .to(".wrapper_gravityBtn", { opacity: 1 });
    tl.reversed(true);
  });

  toggleBtn.addEventListener("click", () => {
    tl.reversed(!tl.reversed());
  });

  // gravity btns

  document.querySelectorAll(".gravityButton").forEach((btn) => {
    btn.addEventListener("mousemove", (e) => {
      const rect = btn.getBoundingClientRect();
      const h = rect.width / 2;

      const x = e.clientX - rect.left - h;
      const y = e.clientY - rect.top - h;

      const r1 = Math.sqrt(x * x + y * y);
      const r2 = (1 - r1 / h) * r1;

      const angle = Math.atan2(y, x);
      const tx = Math.round(Math.cos(angle) * r2 * 100) / 100;
      const ty = Math.round(Math.sin(angle) * r2 * 100) / 100;

      const op = r2 / r1 + 0.25;

      btn.style.setProperty("--tx", `${tx}px`);
      btn.style.setProperty("--ty", `${ty}px`);
      btn.style.setProperty("--opacity", `${op}`);
    });

    btn.addEventListener("mouseleave", (e) => {
      btn.style.setProperty("--tx", "0px");
      btn.style.setProperty("--ty", "0px");
      btn.style.setProperty("--opacity", `${0.25}`);
    });
  });
</script>
